@import url('http://fonts.cdnfonts.com/css/valorant');
body{
    margin: 0;
    font-family: VALORANT;
}

    .image {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-size:cover;
        background-position: 37% 37%;
        background-image: url(valorant.jpg) ;
        mix-blend-mode: soft-light;
    }
    .overlay{
        width: 100%;
        height: 100%;
        background: #101822;
        opacity: 0.96;
        

    }
    H2{
        position: absolute;
        text-align: center;
        left: 35%;
        top: 2px;
        font-size: 45px;
        line-height: 80%;
        color: #FFFFFF;
        z-index: 1;
        }

.flex-box div{
    position: absolute;
    width: 95px;
    height: 95px;
    top: 16%;
    left: 28%;
    background: #FF4654;
    border: 3px solid rgba(255, 129, 137, 0.67);

}

.flex-box div:nth-child(1){
    top: 16%;
    left: 40%;
   
}
.flex-box div:nth-child(2){
    top: 16%;
    left: 52%;
   
}
.flex-box div:nth-child(3){
    top: 16%;
    left: 64%;
   
} 

.flex-box div:nth-child(4){
    top: 38%;
    left: 28%;
   
}
.flex-box div:nth-child(5){
    top: 38%;
    left: 40%;
   
}
.flex-box div:nth-child(6){
    top: 38%;
    left: 52%;
   
}
.flex-box div:nth-child(7){
    top: 38%;
    left: 64%;
   
}

.flex-box div:nth-child(8){
    top: 60%;
    left: 28%;
   
}
.flex-box div:nth-child(9){
    top: 60%;
    left: 40%;
   
}
.flex-box div:nth-child(10){
    top: 60%;
    left: 52%;
   
}
.flex-box div:nth-child(11){
    top: 60%;
    left: 64%;
   
}

.flex-box div:nth-child(12){
    top: 80%;
    left: 28%;
   
}
.flex-box div:nth-child(13){
    top: 80%;
    left: 40%;
   
}
.flex-box div:nth-child(14){
    top: 80%;
    left: 52%;
   
}
.flex-box div:nth-child(15){
    top: 80%;
    left: 64%;
   
} 


.Omen{
    position:absolute;
    left: 28.2%;
    top: 16.2%;
    background-image: url("pics/Omen.png" );
    width:95px;
    height:96px;
}
.Raze{
    position: absolute;
    left:40.3%;
    top:16.2%;
    background-image: url("pics/Raze.png");
    width:95px;
    height:96px;
}
.orange{
    position: absolute;
    left:52.2%;
    top:16.2%;
    background-image: url("pics/orange.png");
    width:95px;
    height:96px;

}
.Gumshoe{
    position: absolute;
    left:64.2%;
    top:16.2%;
    background-image: url("pics/Gumshoe.png");
    width:95px;
    height:96px;

}
.Killjoy{
    position: absolute;
    left:28.2%;
    top:38.2%;
    background-image: url("pics/Killjoy.png");
    width:95px;
    height:96px;

}
.Pandemic{
    position: absolute;
    left:40.2%;
    top:38.2%;
    background-image: url("pics/Pandemic.png");
    width:95px;
    height:96px;
}
.Phoenix{
    position: absolute;
    left:52.2%;
    top:38.2%;
    background-image: url("pics/Phoenix.png");
    width:95px;
    height:96px;
}
.key{
    position: absolute;
    left:64.2%;
    top:38.2%;
    background-image: url("pics/KEY.png");
    width:95px;
    height:96px;
}
.astra{
    position: absolute;
    left:28.2%;
    top:60.2%;
    background-image: url("pics/Rift.png");
    width:95px;
    height:96px;
}
.Sarge{
    position: absolute;
    left:40.2%;
    top:60.2%;
    background-image: url("pics/Sarge.png");
    width:95px;
    height:96px;
}
.Stealth{
    position: absolute;
    left:52.2%;
    top:60.2%;
    background-image: url("pics/Stealth.png");
    width:95px;
    height:96px;
}
.Thorne{
    position: absolute;
    left:64.2%;
    top:60.2%;
    background-image: url("pics/Thorne.png");
    width:95px;
    height:96px;
}
.Hunter{
    position: absolute;
    left:28.2%;
    top:80.2%;
    background-image: url("pics/Hunter.png");
    width:95px;
    height:96px;
}
.Vampire{
    position: absolute;
    left:40.2%;
    top:80.2%;
    background-image: url("pics/Vampire.png");
    width:95px;
    height:96px;
}
.Thumb{
    position: absolute;
    left:52.2%;
    top:80.2%;
    background-image: url("pics/Thumb.png");
    width:95px;
    height:96px;
}
.jett{
    position: absolute;
    left:64.2%;
    top:80.2%;
    background-image: url("pics/jett.png");
    width:95px;
    height:96px;
}





