.navbar {
    overflow: hidden;
    background-color: #1C1D21;
  }
  
  .navbar a {
    float: left;
    font-size: 19.5px;
    color: white;
    text-align: center;
    font-family: valorantFont;
    padding: 15px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.6s;
  }
  
  
  .navbar a:hover {
    border-bottom: 3px solid red;
    letter-spacing: 5px;
  }
  
  body {
    background: url("https://i.redd.it/qg4enmbd90t41.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .header {
    font-size: 100px;
    font-family: valorantFont;
    text-align: center;
    color: #feeafa;
      cursor:pointer;
    transition: all 0.5s;
  }
  
  .header:hover {
    color: #cbc0d3;
    letter-spacing: 8px;
  }
  
  .container {
    position: relative;
    width: 15%;
    flex: 20%;
    float: left;
    padding: 5px;
  }
  
  .player {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border: transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    font-family: valorantFont;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  
  .caption {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .transparent {
     position: relative;
    width: 15%;
    flex: 20%;
    float: left;
    padding: 5px;
    background-color: transparent;
  }
  
  @font-face{
        font-family: valorantFont;
        src: url('Valorant Font.ttf');
    }
  
    div{
        font-family: valorantFont;
    }
   .info {
        position: absolute;
     color: #f2e9e4;
        top:1400px;
        font-size: 35px;
       left: 620px;
        background-color: transparent;
        width: 600px;
        text-align: center;
        border-radius: 30px;
        padding: 30px;
      border-right:1px solid #222;
      text-align:center;
      float:left;
      cursor:pointer;
      transition: all 1.8s;
  }
  
  .info:hover {
    background-color: #adb5bd;
  }

  a {
      color: aliceblue;
      text-decoration: none;
  }