@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/valorant');
:root {
    /* ##### COLORS #### */
    --base-color: #0f1923;
    --secondbase-color: #101822;
    --white-color: #ece8e1;
    --main-color: #ff4655;
    --secondmain-color: #FF8189;
    /* ##### Font family #### */
    --font: 'Source Sans Pro', sans-serif;
    --valorant: 'valorant', sans-serif;
    /* ##### Font weight #### */
    --font-regular: 500;
    --font-semibold: 600;
    --font-bold: 800;
    --font-light: 50
    /* Text Sizing 
    ##          Main Valorant title: 7rem
    ##          Normal text size : 1rem
    ##          Semi Main text : 1.2rem
    ##          Sections Titles : 
    ##              - main : 2.5rem
    ##              - Shadow 7.5rem
    ##          Semi Title : 1.5rem
    ##          Background text : 1rem
    ##           
    */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font);
    background-color: var(--base-color);
}

.container {
    display: block;
    flex-wrap: wrap;
}

.home-background {
    display: block;
    object-fit: cover;
    opacity: 5%;
    width: 100%;
    right: 0;
}

.home-section::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--base-color);
}



.home-pattern {
    z-index: -1;
    margin-top: 1%;
    opacity: 25%;
    width: 100%;
    position: fixed; 
}

/* Small buttons (go to start and opan navbar buttons) */





/* ##### MAIN PAGE TEXTS #### */

.main-text {
    position: absolute;
    top: 25%;
    left: 10%;
}

.main-text p {
    color: var(--white-color);
}

.vertical-text p {
    color: var(--main-color);
}

.main-text .large {
    font-family: var(--valorant);
    font-size: 112px;
}

.main-text .meduim {
    margin-left: 10px;
    font-weight: var(--font-semibold);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

.sec-text {
    margin: 4rem 0% 0% 0%;
    max-width: 400px;
    font-weight: var(--font-bold);
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

.main-text .light {
    font-weight: var(--font-light);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    max-width: 50%;
    margin-left: 10px;
}

.vertical-text{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    
}
 
.vertical-text .right {
    position: absolute;
    text-align: right;
    width: 150px;
    bottom: 15%;
    right: 2%;
    font-size: 1rem;
    font-weight: var(--font-regular);
    letter-spacing: 0.3rem;
    transform: rotate(90deg);
}

.vertical-text .left {
    
    margin: 30% 0% 0% 0%;
    font-size: 0.8rem;
    font-weight: var(--font-regular);
    letter-spacing: 0.3rem;
    width: 280px;
    transform: rotate(-90deg);
}


.triangle {
    position: absolute;
    z-index: -2;
    height: 150px;
    width: 250px;
    transform: rotate(45deg);
    left: -100px;
    top: -100px;
    background-color: var(--main-color);
}


/* ##### MAIN BUTTON  #### */



span.text {
    font-family: var(--valorant);
    font-size: 25px;
}

.main-text a {
    width: 100%;
    max-width: 250px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: absolute;
    margin: 8% 0% 0% 2%;
}

.main-text a.white:hover>p {
    color: var(--white-color);
}

.main-text a.white>p {
    background: var(--white-color);
    color: var(--base-color);
}

.main-text a.white>p span.base {
    border: 1px solid transparent;
}

.main-text a.transparent:hover>p {
    color: var(--white-color);
}

.main-text a.transparent:hover>p span.text {
    box-shadow: 0 0 0 1px var(--white-color);
}

.main-text a.transparent>p {
    background: var(--base-color);
    color: var(--white-color);
}

.main-text a.transparent>p span.base {
    border: 1px solid var(--white-color);
}

.main-text a:after,
.main-text a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 30px;
    background: var(--base-color);
    left: 0;
    right: 50%;
    transform: translateY(-50%);
}

.main-text a:before {
    right: 0;
    left: initial;
}

.main-text a p {
    margin: 0;
    height: 50px;
    line-height: 55px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main-text a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid var(--main-color);
}

.main-text a p span.bg {
    left: -5%;
    position: absolute;
    background: var(--main-color);
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.4s ease-out all;
    transform: skewX(-10deg);
}

.main-text a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.main-text a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: var(--base-color);
    position: absolute;
    transition: 0.4s ease-out all;
    z-index: 5;
}

.main-text a:hover {
    color: var(--white-color);
}

.main-text a:hover span.bg {
    width: 110%;
}

.main-text a:hover span.text:after {
    background: var(--white-color);
}


/* ##### NAVBAR  #### */



header {
    position: fixed;
    right: 0;
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    z-index: 100;
    background-color: rgba(236, 232, 225, 0.85);
}

header.sticky {
    background: var(--white-color);
}

.logo {
    position: absolute;
    width: 20%;
    float: left;
    margin: 1.5% 0 0 5%;
}

header ul {
    visibility: collapse;
    position: relative;
    word-spacing: 100px;
}

header ul li {
    position: relative;
    text-align: center;
    inset: 0;
    list-style: none;
}

header ul li a {
    color: var(--base-color);
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: var(--font-semibold);
}

.nav-text {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    padding: 0px 0px 10px 0px;
    line-height: 25px;
    min-width: 100px;
}

header ul li a:hover {
    color: var(--main-color);
}

header.black {
    transition: 0.4s;
    background-color: rgba(236, 232, 225, 0.85);
}

a.black {
    color: var(--base-color);
}

/*.mainbtn {
    position: absolute;
    border: none;
    z-index: 10;
    border-radius: 10px;
    right: -200%;
    margin-top: 10px;
    width: 60%;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--white-color);
    letter-spacing: 5px;
    transition: 0.6s;
    background-image: linear-gradient(to right top, #FF4655, #FF4655);
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    transition: 300ms;
}

.mainbtn:hover {
    width: 65%;
    background-image: linear-gradient(to left bottom, --main-color, --secondmain-color);
    box-shadow: 0 0 10px var(--secondbase-color), 0 0 20px var(--main-color), 0 0 40px var(--secondmain-color);
}
*

/* ##### LINE EFFECT FOR NAVBAR  #### */

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--secondmain-color);
    transition: 0.5s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}


/* ############## ABOUT SECTION ################### */

.about-section {
    position: relative;
    background-image: linear-gradient(0deg, rgba(255, 70, 84, 0.89) 48%, rgba(255, 70, 84, 0.89) 93%), url(scr/about.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20%;
}
.bg-about {
    background: url('./scr/about.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 12%;
    mix-blend-mode: color-dodge;
    height: 1300px;
}


/* ##### Background Lines & Texts #### */

.left-line {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    left: 10%;
    top: 200px;
    height: 1070px;
}

.right-line {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    right: 10%;
    top: -1px;
    height: 950px;
}

.right-line-text {
    transform: rotate(-90deg);
    top: 1000px;
    position: absolute;
    font-weight: var(--font-regular);
    letter-spacing: 0.25em;
    line-height: 30px;
    left: -65px;
    color: var(--white-color);
}


/* ##### Main Title + horizontal line #### */

.main-title {
    position: absolute;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    left: 15%;
    top: 100px;
    color: var(--base-color);
    z-index: 3;
}                   
            /*--------------Scroll text animation--------------*/
.main-title h1{
position: relative;
transition: 0.5s;
transform-origin: left;
transform:scaleX(0) ;
}
.main-title h1[data-scroll="in"]{
transform:scaleX(1) ;
}
.main-title h1[data-scroll="in"]:before{
transform:scaleX(0);
transition-delay: 0.5s;
}
.main-title h1:before{
content: '';
position: absolute;
left: 0;
top: 0 ;
width: 112%;
height: 90%;
background:#101822;
transform-origin: right;
transition: 0.5s;
}
    /*----------------------------*/
.shadow-title h1 {
    position: absolute;
    opacity: 7%;
    color: var(--white-color);
    left: 1%;
    top: 60px;
    font-size: 120px;
    z-index: 2;
}

.shadow-title {
    position: relative;
    border-bottom: 2px solid var(--white-color);
    padding-top: 200px;
    left: 10%;
    width: 30%;
    padding-right: 10%;
}

.text-about {
    position: relative;
    left: 12%;
    margin-right: 12%;
    padding-top: 50px;
    padding-right: 50%;
    color: var(--white-color);
}
        /*--------------Scroll text animation--------------*/
.text-about h2 {
    position: relative;
    transition: 0.5s;
    transform-origin: left;
    transform:scaleX(0) ;
    }
    .text-about h2[data-scroll="in"]{
    transform:scaleX(1) ;
    }
    .text-about h2[data-scroll="in"]:before{
    transform:scaleX(0);
    transition-delay: 0.5s;
    }
    .text-about h2:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0 ;
    width: 58.3%;
    height: 60.5%;
    background:#101822 ;
    transform-origin: right;
    transition: 0.4s; 
}
        /*----------------------------------------*/

.text-about h2 {
    font-size: 2rem;
    font-weight: var(--font-bold);
    padding-bottom: 30px;
}

.text-about h3 {
    font-weight: var(--font-semibold);
    padding-top: 1rem;
}

.numbers-about {
    position: absolute;
    font-weight: var(--font-bold);
    color: var(--base-color);
    font-size: 5rem;
    padding-top: 2rem;
    text-align: center;
    left: 25%;
    line-height: 7.5rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
    z-index: 1;
}

.text-numbers-about li {
    position: relative;
    right: 22.5%;
    z-index: 3;
    font-weight: var(--font-bold);
    color: var(--base-color);
    list-style: none;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 7.5rem;
}

.text-numbers-about li:nth-child(1) {
    padding-top: 2.2rem;
}

.video-section-about {
    display: flex;
}

.video-container-about {
    position: absolute;
    left: 45%;
    top: 35rem;
}

.character-jett {
    position: absolute;
    top: 10rem;
    display: inline-block;
    align-items: right;
    justify-content: right;
    margin-left: 50%;
}

.triangle-2 {
    z-index: -1;
    position: absolute;
    right: -100px;
    margin-top: -100px;
    height: 200px;
    width: 250px;
    transform: rotate(45deg);
    background-color: var(--main-color);
}


/* ################################# AGENTS SECTION  ################# */

.bg-agents {
    background: url('./scr/Ascent.jpg');
    background-size: cover;
    width: 180%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    margin-top: -15rem;
    opacity: 7%;
    z-index: -1;
    mix-blend-mode: color-dodge;
    height: 150%;
    object-fit: cover;
}


/* ##### Background Lines & Texts #### */

.left-line-agents {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    left: 10%;
    height: 1100px;
}

.right-line-agents {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    right: 10%;
    margin-top: -12.7rem;
    height: 950px;
}

.right-line-text-agents {
    transform: rotate(-90deg);
    top: 1000px;
    position: absolute;
    font-weight: var(--font-regular);
    letter-spacing: 0.25em;
    line-height: 30px;
    left: -60px;
    color: var(--white-color);
}


/* ##### Main Title + horizontal line #### */

.main-title-agents {
    position: absolute;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    left: 15%;
    margin-top: 6rem;
    color: var(--white-color);
    z-index: 3;
}
    /*--------------Scroll text animation--------------*/
.main-title-agents h1 { 
    position: relative;
    transition: 0.5s;
    transform-origin: left;
    transform:scaleX(0) ;
    }
    .main-title-agents h1[data-scroll="in"]{
    transform:scaleX(1) ;
    }
    .main-title-agents h1[data-scroll="in"]:before{
    transform:scaleX(0);
    transition-delay: 0.5s;
    }
    .main-title-agents h1:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0 ;
    width: 112%;
    height: 95%;
    background:#FF4655 ;
    transform-origin: right;
    transition: 0.4s; 
}
        /*########################################*/

.shadow-title-agents h1 {
    position: absolute;
    opacity: 7%;
    color: var(--white-color);
    left: 1%;
    top: 60px;
    font-size: 120px;
    z-index: 2;
}

.shadow-title-agents {
    position: relative;
    border-bottom: 2px solid var(--white-color);
    padding-top: 200px;
    left: 10%;
    width: 30%;
    padding-right: 10%;
}


/* ##### Astra Animation #### */

.animation2 {
    position: absolute;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 49%;
}


/* ##### Section text #### */

.text-agents {
    position: absolute;
    left: 12%;
    padding-top: 50px;
    right: 50%;
    color: var(--white-color);
}

.text-agents h2 {
    font-size: 30px;
    font-weight: var(--font-semibold);
    padding-bottom: 30px;
}
        /*------------------Scroll animation text------------------*/
.text-agents h2{ 
    position: relative;
    transition: 0.5s;
    transform-origin: left;
    transform:scaleX(0) ;
    }
    .text-agents h2[data-scroll="in"]{
    transform:scaleX(1) ;
    }
    .text-agents h2[data-scroll="in"]:before{
    transform:scaleX(0);
    transition-delay: 0.4s;
    }
    .text-agents h2:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0 ;
    width: 100%;
    height: 80%;
    background:#FF4655 ;
    transform-origin: right;
    transition: 0.3s; 
    }
        /*-----------------------------------------*/
.text-agents h3 {
    font-weight: var(--font-regular);
}


/* ##### Button after text for AGENTS #### */

.container-agents {
    z-index: 6;
    display: inline-flex;
    top: 0;
    margin: 100px;
}

button:focus {
    outline: none;
}

.primary-button-agents {
    cursor: pointer;
    font-family: var(--valorant);
    font-size: 25px;
    font-weight: bold;
    left: 0;
    width: 100%;
    border: 1px solid var(--white-color);
    padding: 1.3rem 4rem;
    background: url('https://svgshare.com/i/Kyn.svg');
    background-size: 240%;
    background-position: 500%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: border, background-position, color;
    background-color: var(--white-color);
    color: var(--base-color);
}

.button-borders-agents {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.primary-button-agents:hover {
    border: 1px solid var(--main-color);
    background-position: 50%;
    color: var(--white-color);
}

.primary-button-agents:before {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0.2rem;
    height: 0.2rem;
    left: -1px;
    top: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button-agents:hover:before {
    background-color: var(--main-color);
}

.primary-button-agents:after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0.4rem;
    height: 0.4rem;
    right: -1px;
    bottom: -1px;
}



.button-borders-agents:before {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    top: -0.8rem;
    border: 1px solid var(--white-color);
    border-bottom: 0px;
    opacity: 0.3;
}

.button-borders-agents:after {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    bottom: -0.8rem;
    border: 1px solid var(--white-color);
    border-top: 0px;
    opacity: 0.3;
    z-index: 0;
}

.button-borders-agents:active,
.button-borders-agents:focus {
    outline: none;
}

.button-borders-agents:active::before {
    top: -0.4rem;
    transition: 0.05s ease-in-out;
}

.button-borders-agents:active::after {
    bottom: -0.4rem;
    transition: 0.05s ease-in-out;
}



/* ################################# MAPS SECTION  ########################## */


/* ##### Maps background #### */

.maps {
    display: block;
}

.bg-container {
    width: 100%;
    vertical-align: baseline;
    font-family: var(--title-font);
    margin-top: -12px;
    background-color: var(--white-color);
    z-index: 1;
    align-items: center;
    height: 1000px;
    
}

.small-rectangle {
    height: 150px;
    width: 250px;
    transform: rotate(45deg);
    margin: -3rem 0% -2.5rem -6rem;
    background-color: var(--white-color);
}

.bgpic {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
    border-style: none;
    right: 7.3vw;
    margin-right: -7.4%;
    top: -3rem;
    z-index: 1;
}

.container-shape {
    position: relative;
    margin-top: 60%;
    /* need to make it responsive here! */
}


/* ##### Maps Title #### */

.maps-title {
    position: absolute;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    left: 14%;
    margin-top: 12.5rem;
    color: var(--base-color);
    z-index: 3;
}
        /*------------------Scroll animation text------------------*/
.maps-title h1{ 
    position: relative;
    transition: 0.5s;
    transform-origin: left;
    transform:scaleX(0) ;
    }
    .maps-title h1[data-scroll="in"]{
    transform:scaleX(1) ;
    }
    .maps-title h1[data-scroll="in"]:before{
    transform:scaleX(0);
    transition-delay: 0.4s;
    }
    .maps-title h1:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0 ;
    width: 105%;
    height: 90%;
    background:#FF4655 ;
    transform-origin: right;
    transition: 0.3s; 
    }
            /*------------------------------------------*/
.maps-title-shadow {
    position: relative;
    top: 10rem;
    left: 10%;
    width: 30%;
    padding-right: 10%;
}

.maps-title-shadow h1 {
    position: absolute;
    opacity: 7%;
    color: var(--base-color);
    left: 1%;
    font-size: 120px;
    z-index: 2;
}


/* ##### Maps Text #### */

.text-maps {
    position: absolute;
    left: 10%;
    padding-top: 20rem;
    right: 50%;
    z-index: 2;
    color: var(--base-color);
}

.text-maps h2 {
    font-size: 30px;
    font-weight: var(--font-semibold);
    padding-bottom: 30px;
}

.text-maps h3 {
    font-weight: var(--font-regular);
    padding-bottom: 10px;
    text-shadow: 0 0 2px var(--secondbase-color);
}

/* ########## Maps Button ###### */


.container-maps {
    position: relative;
    z-index: 6;
    display: inline-flex;
    top: 0;
    margin: 120px;
    margin-left: 200px;
}

button:focus {
    outline: none;
}

.primary-button-maps {
    cursor: pointer;
    font-family: var(--valorant);
    font-size: 25px;
    font-weight: bold;
    color: var(--white-color);
    left: 0;
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 1.3rem 4rem;
    background: url('https://svgshare.com/i/Kyn.svg');
    background-size: 240%;
    background-position: 500%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: border, background-position, color;
    background-color: var(--base-color);
}

.button-borders-maps {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.primary-button-maps:hover {
    border: 1px solid var(--main-color);
    background-position: 50%;
    color: var(--base-color);
}

.primary-button-maps:before {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0.2rem;
    height: 0.2rem;
    left: -1px;
    top: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button-maps:hover:before {
    background-color: var(--main-color);
}

.primary-button-maps:after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0.4rem;
    height: 0.4rem;
    right: -1px;
    bottom: -1px;
}



.button-borders-maps:before {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    top: -0.8rem;
    border: 1px solid var(--base-color);
    border-bottom: 0px;
    opacity: 0.3;
}

.button-borders-maps:after {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    bottom: -0.8rem;
    border: 1px solid var(--base-color);
    border-top: 0px;
    opacity: 0.3;
    z-index: 0;
}

.button-borders-maps:active,
.button-borders-maps:focus {
    outline: none;
}

.button-borders-maps:active::before {
    top: -0.4rem;
    transition: 0.05s ease-in-out;
}

.button-borders-maps:active::after {
    bottom: -0.4rem;
    transition: 0.05s ease-in-out;
}



/* ################################# GUNS SECTION */
.guns{
    height: 1388px; /*  repositioner guns part rapport  le :footer  */
}
.bg-guns {
    background: url('./scr/guns-bg.jpg');
    background-size: cover;
    width: 150%;
    position: absolute;
    margin: 0 auto;
    left: -15rem;
    margin-top: -20rem;
    opacity: 7%;
    z-index: -1;
    mix-blend-mode: color-dodge;
    transform: rotate(-15deg);
    height: 1500px;
    display: block;
}


/* ##### Background Lines & Texts #### */

.left-line-guns {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    left: 10%;
    height: 1100px;
}

.right-line-guns {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    right: 10%;
    margin-top: -12.7rem;
    height: 950px;
}

.right-line-text-guns {
    transform: rotate(-90deg);
    top: 1000px;
    position: absolute;
    font-weight: var(--font-regular);
    letter-spacing: 0.25em;
    line-height: 30px;
    left: -40px;
    color: var(--white-color);
}


/* ##### Main Title + horizontal line #### */

.main-title-guns {
    position: absolute;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    left: 15%;
    margin-top: 6rem;
    color: var(--white-color);
    z-index: 3;
}

        /*------------------Scroll animation text------------------*/
.main-title-guns h1 {
    position: relative;
    transition: 0.5s;
    transform-origin: left;
    transform:scaleX(0) ;
    }
    .main-title-guns h1[data-scroll="in"]{
    transform:scaleX(1) ;
    }
    .main-title-guns h1[data-scroll="in"]:before{
    transform:scaleX(0);
    transition-delay: 0.4s;
    }
    .main-title-guns h1:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0 ;
    width: 105%;
    height: 90%;
    background:#FF8189 ;
    transform-origin: right;
    transition: 0.3s; 
    }
            /*----------------------------------------------------*/
.shadow-title-guns h1 {
    position: absolute;
    opacity: 7%;
    color: var(--white-color);
    left: 1%;
    top: 60px;
    font-size: 120px;
    z-index: 2;
}

.shadow-title-guns {
    position: relative;
    border-bottom: 2px solid var(--white-color);
    padding-top: 200px;
    left: 10%;
    width: 30%;
    padding-right: 10%;
}


/* ##### Section text #### */

.text-guns {
    position: absolute;
    left: 12%;
    padding-top: 50px;
    right: 50%;
    color: var(--white-color);
}

.text-guns h2 {
    font-size: 30px;
    font-weight: var(--font-semibold);
    padding-bottom: 30px;
}

.text-guns h3 {
    font-weight: var(--font-regular);
    padding-bottom: 50px;
}

/* #### Scroll Bar #### */

::-webkit-scrollbar{
    width: 0px;
}

#scrollpath{
    z-index: 1000;
    position: fixed;
    top: O;
    right: 0;
    width: 10px;
    height: 100%;
    background: var(--base-color);
}

#progressbar{
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, var(--main-color), var(--secondmain-color));
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--main-color), var(--secondmain-color));
    filter: blur(10px);
}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--main-color), var(--secondmain-color));
    filter: blur(30px);
}



/* ####################### Footer###########33333333333
}*/
.footer{
    position:relative;
    height: 1200px;
}
.footer img{
    position: static;
width: 2125px;
height: 1200px;
left: 205px;
top: 1px;

background: url('Footer 1.jpg');
}

.footer .second{
    position:absolute;
    width: 187px;
height: 187px;
left: 11.9%;
right: 62.71%;
margin-top: 248px;

/*
background: url('val_logo_R.jpg');
z-index: -1;*/

}


.third img{
    position: absolute;
width: 197px;
height: 40px;
left: 214px;
top: 400px;

background: url('Val_text_R.jpg');
}



.fourth img{
    position: absolute;
width: 228px;
height: 73px;
left: 158px;
top: 600px;

background: url('image 8.jpg');
}



.text h2{
    position: absolute;
width: 498px;
height: 555px;
left:  100px;/*228*/
top: 760px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 1500;
font-size: 30px;
 

color: #18212A;
}
.five img{
    position: absolute;
    width: 65px;
    height: 97px;
    left: 158px;
    top: 900px;
    
     

background: url('image 7.jpg');
}
.text2 h4{
    position: absolute;
width: 100px;
height:100px;
left: 225px;
top: 900px;

font-family: Merriweather;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

color: #18212A;
}

/* #######social-icon######33*/
.social-info{
    
       
        left: 12%;
       bottom: 70px;
       /*padding-bottom: 600px;*/
         position: absolute;
       
    
}

.social-icons {
    position: static;
    margin-top:300px ;
    list-style:none;/*supp les markes des liste*/
    margin: 0.5em;
    /*margin-bottom: 8000px;*/
  }
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 20px;
  }
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
  }

  .social-icons a {
    display: inline-block;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);/*care (border-radus)*/
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ff4656d5, #c648c8);
    transition: all 265ms ease-out;
  }
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  .social-icons a:hover i {
     transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
   
  }
  .social-icons a.social-square:before {
    background: linear-gradient(45deg, #ff4656d5, #ae31d9);
    border-radius: 10%;
  }
  .social-icons a.social-square:hover:before {
    transform: rotate(-180deg); /*rotation*/
    -ms-transform: rotate(-180deg);
    -webkit-transform: scale(-180deg);
    border-radius: 100%;
  }
  .social-icons a.social-square:hover i {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    color: #fff;
    transform: scale(1.6);
    -webkit-text-fill-color: rgb(250, 245, 245);
  }



.text3 h3{
    content: '';
    position: absolute;
width: auto;
height: 23px;
left: 8%;
top: 1091px;
margin-top: 62px;


font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
 


color: #18212A;
padding-right: 50px;
transition: width .3s;

}

.text3 h4{
    margin-top: 65px;
    position: absolute;
width: auto;
height: 23px;
left: 24%;
top: 1088px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
 


color: #18212A;
padding-right: 50px;
transition: width .3s;
}
.text3 h5{
    
    margin-top: 70px;
    position: absolute;
width: auto;
height: 23px;
left: 37%;
top: 1082px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
 


color: #18212A;
padding-right: 50px;
transition: width .3s;
}




.text3 h3:hover{
    color: #ec407a;
    border-bottom: 2px solid #ff4656d5;
    /*transition: width .3s ;*/ 
       
    width: auto; 
    
}
.text3 h4:hover{
    color: #ec407a;
    border-bottom: 2px solid #ff4656d5;
    /*transition: width .3s;*/
    /* width: 5px;*/ 
}
.text3 h5:hover{
    color: #ec407a;
    border-bottom: 2px solid #ff4656d5;
    /*transition: width .3s;*/
    /* width: 5px;*/ 
}


.copy{
    width: 100%;
      /*margin-top:1185px ; vide entre photo et div de copyR ==null */
    height: 100px;
    background-color: #18212A;
    position: absolute;
}
.copy-right{
    position: absolute;  
    color: #fff;
    /*vide entre photo et div de copyR ==null */
    left: 35%;
    
}
.copy-right p:first-child{
    margin-top:30px;
    margin-bottom: 2px;
    padding-bottom: 1px;
}
.copy-right p{
    font-size: small;
    font-family: Source Sans Pro ;
    color: antiquewhite;
    padding-bottom:95px;
}


/*.text3 a h3::after{
content: '';
display: block;
width: 0;
height: 2px;
transition: width .3s;
}
.text3 a h3:hover:after{
    width: 100%;
    transition: width .3s;
}*/

/* ################--Animated background--################ */

    .elements div {
        position: absolute;
        width: 12.5px;
        height: 12.5px;
        background: rgba(245, 244, 244, 0.781);
        
    }
    .elements div:nth-child(1){
        top: 8%;
        left: 10%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(2){
        top: 16%;
        left: 20%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(3){
        top: 20%;
        left: 25%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(4){
        top: 30%;
        left: 30%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(5){
        top: 50%;
        left: 80%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(6){
        top: 70%;
        left: 60%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(7){
        top: 30%;
        left:84%;
        animation: animatee 10s linear infinite;
    }
    
    .elements div:nth-child(8){
        top: 90%;
        left: 84%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(9){
        top: 50%;
        left: 20%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(10){
        top: 15%;
        left: 60%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(11){
        top: 55%;
        left: 70%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(12){
        top: 42%;
        left: 92%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(13){
        top: 90%;
        left: 10%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(14){
        top: 15%;
        left: 30%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(15){
        top:65%;
        left: 45%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(16){
        top:105%;
        left: 30%;
        animation: animatee 10s linear infinite;
    }
    .elements div:nth-child(17){
        top:110%;
        left: 45%;
        animation: animatee 10s linear infinite;
    }
    @keyframes animatee {
        from{
            transform:  translateY(180px);
            opacity: 1;
        }
        to{
            transform:  translatey(-600px);
            opacity: 1;
        }
    }
            /* -------------------------------------------------------*/