@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,900;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');




.first img{
        position: absolute;
width: 2125px;
height: 1200px;
left: 205px;
top: 1px;
    
    background: url('Footer 1.jpg');
}
.second img{
    position: absolute;
height: 187px;
left: 24.1%;
right: 62.71%;
top: 207px;
background: url('val_logo_R.jpg');

}
.third img{
    position: absolute;
width: 197px;
height: 40px;
left: 342px;
top: 400px;

background: url('Val_text_R.jpg');
}
.fourth img{
    position: absolute;
width: 228px;
height: 73px;
left: 327px;
top: 547px;

background: url('image 8.jpg');
}
.text h2{
    position: absolute;
width: 498px;
height: 555px;
left:  292px;
top: 685px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 1500;
font-size: 30px;
 

color: #18212A;
}
.five img{
    position: absolute;
    width: 65px;
    height: 97px;
    left: 367px;
    top: 900px;
    
     

background: url('image 7.jpg');
}
.text2 h4{
    position: absolute;
width: 100px;
height:100px;
left: 441px;
top: 880px;

font-family: Merriweather;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

color: #18212A;
}

/* #######social-icon######33*/
.social-info{
    
       
        left: 350px;
        top: 90px;
        position: absolute;
        padding-top: 950px;
}

.social-icons {
    padding:0 ;
    list-style:none;/*supp les markes des liste*/
    margin: 0.5em;
  }
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 20px;
  }
  .social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
  }

  .social-icons a {
    display: inline-block;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);/*care (border-radus)*/
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ff4656d5, #c648c8);
    transition: all 265ms ease-out;
  }
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  .social-icons a:hover i {
     transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
   
  }
  .social-icons a.social-square:before {
    background: linear-gradient(45deg, #ff4656d5, #ae31d9);
    border-radius: 10%;
  }
  .social-icons a.social-square:hover:before {
    transform: rotate(-180deg); /*rotation*/
    -ms-transform: rotate(-180deg);
    -webkit-transform: scale(-180deg);
    border-radius: 100%;
  }
  .social-icons a.social-square:hover i {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    color: #fff;
    transform: scale(1.6);
    -webkit-text-fill-color: rgb(250, 245, 245);
  }



.text3 h3{
    content: '';
    position: absolute;
width: 101px;
height: 23px;
left: 150px;
top: 1100px;
margin-top: 62px;


font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
 


color: #18212A;


}

.text3 h4{
    margin-top: 65px;
    position: absolute;
width: 110px;
height: 23px;
left: 364px;
top: 1095px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
 


color: #18212A;
}
.text3 h5{
    margin-top: 70px;
    position: absolute;
width: 124px;
height: 23px;
left: 551px;
top: 1090px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
 


color: #18212A;
}




.text3 h3:hover{
    color: #ec407a;
    border-bottom: 2px solid #ff4656d5;
    transition: width .3s ;
}
.text3 h4:hover{
    color: #ec407a;
    border-bottom: 2px solid #ff4656d5;
    transition: width .3s;
}
.text3 h5:hover{
    color: #ec407a;
    border-bottom: 2px solid #ff4656d5;
    transition: width .3s;
}


.copy{
    width: 100%;
    margin-top:1185px ;   /*vide entre photo et div de copyR ==null */
    height: 100px;
    background-color: #18212A;
    position: absolute;
}
.copy-right{
    position: absolute;
    margin-top: 1185px;   
    color: #fff;
    left: 35%;
    
}
.copy-right p:first-child{
    margin-top:30px;
    margin-bottom: 2px;
    padding-bottom: 1px;
}
.copy-right p{
    font-size: small;
    font-family: Source Sans Pro ;
    color: antiquewhite;
}


/*.text3 a h3::after{
content: '';
display: block;
width: 0;
height: 2px;
transition: width .3s;
}
.text3 a h3:hover:after{
    width: 100%;
    transition: width .3s;
}*/
