body{
     
    background-image:linear-gradient(0deg,rgba(24, 33, 42, 1) 48%, rgba(24,33,42,0.89) 93%), url('Guns image.png');
    background-size: cover;
    background-attachment: fixed;
 }
 h2{
    position: absolute;
    width: 900px;
    height: 300px;
    left: 200px;
    top:  36px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    size: 144px;
    color: rgba(236, 232, 225, 0.9);
 }