*, *::before, *::after {
    box-sizing: border-box;
    font-family: SansProSemiBold;
    margin: 0;
  }

  

@font-face {
    font-family: Valorant;
    src: url(Fonts/Valorant.ttf);
}
@font-face {
    font-family: SansProBold;
    src: url(Fonts/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: SansProRegular;
    src: url(Fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SansProLight;
    src: url(Fonts/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: SansProSemiBold;
    src: url(Fonts/SourceSansPro-SemiBold.ttf);
}

:root{
    --Dark-Blue: #101822;
    --Blue: #18212A;
    --Pink: #FF4654;
    --Light-Pink: #FF8189;
    --Light: #ECE8E1;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.home-background{
    display: block;
    object-fit: cover;
    opacity: 5%;
    position: absolute;
    width: 130%;
    right: 0;
}

.home-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    z-index: -1;
    background-color: var(--Dark-Blue);
}

.home-pattern{
    top: 25%;
    opacity: 25%;
    width: 90%;
    position: absolute;
    user-select: none;
}

.main-text{
    position: absolute;
    margin: 15% 10% 10% 10%;
}

.main-text p{
    color: var(--Light);
}

.vertical-text p{
    color: var(--Pink);
}

.main-text .large{
    font-family: Valorant;
    font-size: 7rem;
}
.main-text .meduim{
    margin-left: 10px;
    font-family: SansProSemiBold;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
}

.sec-text{
    margin: 10% 0% 0% 1%;
    max-width: 400px;
    font-family: SansProBold;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

.main-text .light{
    font-family: SansProLight;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
    max-width: 50%;
    line-height: 1rem;
    margin-left: 10px;
}

.vertical-text .right{
    position: absolute;
    right: 0px;
    margin: 20% 5% 0% 0%;
    font-size: 0.8rem;
    font-family: SansProRegular;
    letter-spacing: 0.3rem;
    width: 150px;
    transform: rotate(90deg);
}

.vertical-text .left{
    position: absolute;
    left: 0px;
    margin: 50% 10% 0% -5%;
    font-size: 0.8rem;
    font-family: SansProRegular;
    letter-spacing: 0.3rem;
    width: 280px;
    transform: rotate(-90deg);
}

.triangle{
    height: 100px;
    width: 200px;
    transform: rotate(45deg);
    margin: 70% 0% 0% -70PX;
    background-color: var(--Pink);
}

/*Buttons css*/



span.text {
    font-family: 'VALORANT', sans-serif;
    font-size: 25px;
}

.main-text a {
    width: 100%;
    max-width: 250px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: absolute;
    margin: 8% 0% 0% 2%;
}
.main-text a.white:hover > p {
    color: #ece8e1;
}
.main-text a.white > p {
    background: #ece8e1;
    color: #0f1923;
}
.main-text a.white > p span.base {
    border: 1px solid transparent;
}
.main-text a.transparent:hover > p {
    color: #ece8e1;
}
.main-text a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
}
.main-text a.transparent > p {
    background: #0f1923;
    color: #ece8e1;
}
.main-text a.transparent > p span.base {
    border: 1px solid #ece8e1;
}
.main-text a:after, .main-text a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 30px;
    background: #0f1923;
    left: 0;
    right: 50%;
    transform: translateY(-50%);
}
.main-text a:before {
    right: 0;
    left: initial;
}
.main-text a p {
    margin: 0;
    height: 50px;
    line-height: 55px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.main-text a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
}
.main-text a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.4s ease-out all;
    transform: skewX(-10deg);
}
.main-text a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main-text a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.4s ease-out all;
    z-index: 5;
}
.main-text a:hover {
    color: #ece8e1;
}
.main-text a:hover span.bg {
    width: 110%;
}
.main-text a:hover span.text:after {
    background: #ece8e1;
}

/*Navbar Css*/

header {
    position: fixed;
    top: 0;
    left : 0;
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 300px;
    z-index: 100;
  }
  
  header.sticky {
    padding: 5px 150px;
    background: #ece8e1;
  
  }
  
  header .logo {
    position: relative;
    width:30%;
    float : left;
    transition : 0.6s;
  }
  
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items : center;
    word-spacing: 100px;
  }
  
  header ul li {
    position : relative;
    list-style: none;
  }
  
  header ul li a{
    position: relative;
    margin: 0 30px; 
    text-decoration: none;
    color: #ece8e1;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    
  }
  
  .nav-text {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    padding: 0px 0px 10px 0px;
    line-height: 25px;
    min-width: 100px;
  
  }
  
  
  header ul li a:hover {
      color : #ff4655;
  }
  

  header.black {
    transition: 0.4s;
    background-color: #ece8e1;
    
  }
  a.black {
    color : #0f1923;
  }
  
  
  button {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    position: relative;
    margin: 0 30px; 
    text-decoration: none;
    color: #ece8e1;
    letter-spacing: 5px;
    font-weight: 500px;
    transition: 0.6s;
    background-image: linear-gradient(to right top, #FF4654, #FF4654);
    width: 110%;
    height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 300ms;
  }
  
  button:hover {
    width: 110%;
    height: 30px;
  
    
    background-image: linear-gradient(to left bottom, #ff4655, #FF8189);
    box-shadow: 
      0 0 10px #101822,
      0 0 20px #ff4655,
      0 0 40px #FF8189;
  }

  /*Line effect*/

  .nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #ff8189; 
    transition:  all 0.5s ease;
    }
    
    .nav-links li a:hover:before{
        width: 100%;
    }

    

    
    
    
    
    


  