@import url('http://fonts.cdnfonts.com/css/valorant');
:root {
    /* ##### COLORS #### */
    --base-color: #0f1923;
    --secondbase-color: var(--base-color);
    --white-color: #ece8e1;
    --main-color: #ff4655;
    --secondmain-color: #FF8189;
    /* ##### Font family #### */
    --font: 'Source Sans Pro', sans-serif;
    --valorant: 'valorant', sans-serif;
    /* ##### Font weight #### */
    --font-regular: 500;
    --font-semibold: 600;
    --font-bold: 800;
    --font-light: 50
    /* Text Sizing 
    ##          Main Valorant title: 7rem
    ##          Normal text size : 1rem
    ##          Semi Main text : 1.2rem
    ##          Sections Titles : 
    ##              - main : 2.5rem
    ##              - Shadow 7.5rem
    ##          Semi Title : 1.5rem
    ##          Background text : 1rem
    ##           
    */
}


/* ####### settings menu ####### */

#goToStartButton {
    transition: 0.5s ease-out;
    position: fixed;
    bottom: 8%;
    height: 50px;
    width: 50px;
    z-index: 999;
    background-color: var(--secondmain-color);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 20px var(--base-color);
    transition: 0.3s ease-in-out;
    border: 2px solid var(--main-color);
}

#goToStartButton:hover {
    box-shadow: 0 0 10px var(--secondbase-color), 0 0 20px var(--main-color), 0 0 20px var(--secondmain-color);
    transform: scale(1.1);
    border: 2px solid var(--white-color);
    background-color: var(--main-color);
}

.goToStartBtn {
    position: relative;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: var(--base-color);
}

.goToStartBtn:hover {
    color: var(--white-color);
}

.main-setings-menu {
    z-index: 999;
    position: fixed;
    right: 3%;
    bottom: 8%;
    list-style: none;
}

.setings-menu {
    padding: 0;
    height: 0;
    opacity: 0;
    transition: .3s ease-out;
    background-color: var(--main-color);
    border-radius: 25px;
    border: 2px solid var(--white-color);
    box-shadow: 0 0 10px var(--secondbase-color), 0 0 20px var(--main-color), 0 0 20px var(--secondmain-color);
}

.setings-menu li {
    transition: .3s ease-out;
    text-align: center;
    color: var(--base-color);
    list-style: none;
    margin: 10px;
    padding: 3px 3px;
}

.setings-menu li a {
    color: var(--base-color);
    text-decoration: none;
}

.setings-menu li a:hover {
    color: var(--white-color);
}

.setings-menu li:hover {
    transform: scale(1.2);
}

body {
    margin: 0;
    font-family: VALORANT;
}

.image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    background-position: 37% 37%;
    background-image: url(valorant.jpg);
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--base-color);
    opacity: 0.96;
}

H2 {
    position: absolute;
    text-align: center;
    left: 35%;
    top: 2px;
    font-size: 45px;
    line-height: 80%;
    color: var(--white-color);
    z-index: 1;
}

div a {
    text-decoration: none;
    color: var(--white-color);
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
}

.Sarge h3 {
    font-size: 14px;
}

.flex-box div {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 16%;
    left: 28%;
    background: #FF4654;
    border: 3px solid rgba(255, 129, 137, 0.67);
}

.flex-box div:nth-child(1) {
    top: 16%;
    left: 40%;
}

.flex-box div:nth-child(2) {
    top: 16%;
    left: 52%;
}

.flex-box div:nth-child(3) {
    top: 16%;
    left: 64%;
}

.flex-box div:nth-child(4) {
    top: 38%;
    left: 28%;
}

.flex-box div:nth-child(5) {
    top: 38%;
    left: 40%;
}

.flex-box div:nth-child(6) {
    top: 38%;
    left: 52%;
}

.flex-box div:nth-child(7) {
    top: 38%;
    left: 64%;
}

.flex-box div:nth-child(8) {
    top: 60%;
    left: 28%;
}

.flex-box div:nth-child(9) {
    top: 60%;
    left: 40%;
}

.flex-box div:nth-child(10) {
    top: 60%;
    left: 52%;
}

.flex-box div:nth-child(11) {
    top: 60%;
    left: 64%;
}

.flex-box div:nth-child(12) {
    top: 80%;
    left: 28%;
}

.flex-box div:nth-child(13) {
    top: 80%;
    left: 40%;
}

.flex-box div:nth-child(14) {
    top: 80%;
    left: 52%;
}

.flex-box div:nth-child(15) {
    top: 80%;
    left: 64%;
}

.Omen {
    position: absolute;
    left: 28.2%;
    top: 16.2%;
    background-image: url("pics/Omen.png");
    width: 95px;
    height: 96px;
}

.Omen:hover {
    background-color: var(--base-color);
}

.Omen h3 {
    transition: opacity 0.2s;
}

.Omen h3 {
    opacity: 0;
}

.Omen h3:hover {
    opacity: 1;
}

.Raze {
    position: absolute;
    left: 40.3%;
    top: 16.2%;
    background-image: url("pics/Raze.png");
    width: 95px;
    height: 96px;
}

.Raze:hover {
    background-color: var(--base-color);
}

.Raze h3 {
    transition: opacity 0.2s;
}

.Raze h3 {
    opacity: 0;
}

.Raze h3:hover {
    opacity: 1;
}

.orange {
    position: absolute;
    left: 52.2%;
    top: 16.2%;
    background-image: url("pics/orange.png");
    width: 95px;
    height: 96px;
}

.orange:hover {
    background-color: var(--base-color);
}

.orange h3 {
    transition: opacity 0.2s;
}

.orange h3 {
    opacity: 0;
}

.orange h3:hover {
    opacity: 1;
}

.Gumshoe {
    position: absolute;
    left: 64.2%;
    top: 16.2%;
    background-image: url("pics/Gumshoe.png");
    width: 95px;
    height: 96px;
}

.Gumshoe:hover {
    background-color: var(--base-color);
}

.Gumshoe h3 {
    transition: opacity 0.2s;
}

.Gumshoe h3 {
    opacity: 0;
}

.Gumshoe h3:hover {
    opacity: 1;
}

.Killjoy {
    position: absolute;
    left: 28.2%;
    top: 38.2%;
    background-image: url("pics/Killjoy.png");
    width: 95px;
    height: 96px;
}

.Killjoy:hover {
    background-color: var(--base-color);
}

.killjoy h3 {
    transition: opacity 0.2s;
}

.Killjoy h3 {
    opacity: 0;
}

.Killjoy h3:hover {
    opacity: 1;
}

.Pandemic {
    position: absolute;
    left: 40.2%;
    top: 38.2%;
    background-image: url("pics/Pandemic.png");
    width: 95px;
    height: 96px;
}

.Pandemic:hover {
    background-color: var(--base-color);
}

.Pandemic h3 {
    transition: opacity 0.2s;
}

.Pandemic h3 {
    opacity: 0;
}

.Pandemic h3:hover {
    opacity: 1;
}

.Phoenix {
    position: absolute;
    left: 52.2%;
    top: 38.2%;
    background-image: url("pics/Phoenix.png");
    width: 95px;
    height: 96px;
}

.Phoenix:hover {
    background-color: var(--base-color);
}

.Phoenix h3 {
    transition: opacity 0.2s;
}

.Phoenix h3 {
    opacity: 0;
}

.Phoenix h3:hover {
    opacity: 1;
}

.key {
    position: absolute;
    left: 64.2%;
    top: 38.2%;
    background-image: url("pics/KEY.png");
    width: 95px;
    height: 96px;
}

.key:hover {
    background-color: var(--base-color);
}

.key h3 {
    transition: opacity 0.2s;
}

.key h3 {
    opacity: 0;
}

.key h3:hover {
    opacity: 1;
}

.astra {
    position: absolute;
    left: 28.2%;
    top: 60.2%;
    background-image: url("pics/Rift.png");
    width: 95px;
    height: 96px;
}

.astra:hover {
    background-color: var(--base-color);
}

.astra h3 {
    transition: opacity 0.2s;
}

.astra h3 {
    opacity: 0;
}

.astra h3:hover {
    opacity: 1;
}

.Sarge {
    position: absolute;
    left: 40.2%;
    top: 60.2%;
    background-image: url("pics/Sarge.png");
    width: 95px;
    height: 96px;
}

.Sarge:hover {
    background-color: var(--base-color);
}

.Sarge h3 {
    transition: opacity 0.2s;
}

.Sarge h3 {
    opacity: 0;
}

.Sarge h3:hover {
    opacity: 1;
}

.Stealth {
    position: absolute;
    left: 52.2%;
    top: 60.2%;
    background-image: url("pics/Stealth.png");
    width: 95px;
    height: 96px;
}

.Stealth:hover {
    background-color: var(--base-color);
}

.Stealth h3 {
    transition: opacity 0.2s;
}

.Stealth h3 {
    opacity: 0;
}

.Stealth h3:hover {
    opacity: 1;
}

.Thorne {
    position: absolute;
    left: 64.2%;
    top: 60.2%;
    background-image: url("pics/Thorne.png");
    width: 95px;
    height: 96px;
}

.Thorne:hover {
    background-color: var(--base-color);
}

.Thorne h3 {
    transition: opacity 0.2s;
}

.Thorne h3 {
    opacity: 0;
}

.Thorne h3:hover {
    opacity: 1;
}

.Hunter {
    position: absolute;
    left: 28.2%;
    top: 80.2%;
    background-image: url("pics/Hunter.png");
    width: 95px;
    height: 96px;
}

.Hunter:hover {
    background-color: var(--base-color);
}

.Hunter h3 {
    transition: opacity 0.2s;
}

.Hunter h3 {
    opacity: 0;
}

.Hunter h3:hover {
    opacity: 1;
}

.Vampire {
    position: absolute;
    left: 40.2%;
    top: 80.2%;
    background-image: url("pics/Vampire.png");
    width: 95px;
    height: 96px;
}

.Vampire:hover {
    background-color: var(--base-color);
}

.Vampire h3 {
    transition: opacity 0.2s;
}

.Vampire h3 {
    opacity: 0;
}

.Vampire h3:hover {
    opacity: 1;
}

.Thumb {
    position: absolute;
    left: 52.2%;
    top: 80.2%;
    background-image: url("pics/Thumb.png");
    width: 95px;
    height: 96px;
}

.Thumb:hover {
    background-color: var(--base-color);
}

.Thumb h3 {
    transition: opacity 0.2s;
}

.Thumb h3 {
    opacity: 0;
}

.Thumb h3:hover {
    opacity: 1;
}

.jett {
    position: absolute;
    left: 64.2%;
    top: 80.2%;
    background-image: url("pics/jett.png");
    width: 95px;
    height: 96px;
}

.jett:hover {
    background-color: var(--base-color);
}

.jett h3 {
    transition: opacity 0.2s;
}

.jett h3 {
    opacity: 0;
}

.jett h3:hover {
    opacity: 1;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
    position: fixed;
    top: 60px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
    transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-35deg);
    transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
    position: fixed;
    top: 33px;
    right: 50px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: #ff4655;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.menu-icon:checked~.nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
    transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
    transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
    transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
    transition-delay: 50ms;
}

.nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 9vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color: #0f1923;
    transition: all 250ms linear;
}

.nav ul li a:hover {
    text-decoration: none;
    color: #ffeba7;
}

.menu-icon:checked~.nav ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
    transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
    transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
    transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
    transition-delay: 1640ms;
}


/* cursor */

.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%
}

.cursor {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}

.cursor2,
.cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.cursor2.hover,
.cursor3.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none
}

.cursor2 {
    border: 2px solid #fff;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}


/*  ---------loader----------- */

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
}

.loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loader .loader__icon svg {
    transform-origin: 0 0;
}

.loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #0f1923;
    transition: width 0.7s ease;
    z-index: 1;
}

.loader .loader__tileP {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #ff4655;
    transition: width 0.9s ease;
    z-index: -1;
}

.loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.1s;
}

.loader .loader__tileP:nth-child(6) {
    top: calc(-1 * 20%);
    transition-delay: -0.1s;
}

.loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tileP:nth-child(7) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.1s;
}

.loader .loader__tileP:nth-child(8) {
    top: calc(1 * 20%);
    transition-delay: 0.1s;
}

.loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tileP:nth-child(9) {
    top: calc(2 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.3s;
}

.loader .loader__tileP:nth-child(10) {
    top: calc(3 * 20%);
    transition-delay: 0.3s;
}

.loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.4s;
}

.loader .loader__tileP:nth-child(11) {
    top: calc(4 * 20%);
    transition-delay: 0.4s;
}

.loader--active {
    width: 100%;
    transition-delay: 0s;
}

.loader--active .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
}

.loader--active .loader__tile {
    width: 100%;
}

.loader--active .loader__tileP {
    width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.1s;
}

.loader--active .loader__tileP:nth-child(6) {
    transition-delay: -0.1s;
}

.loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
}

.loader--active .loader__tileP:nth-child(7) {
    transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.1s;
}

.loader--active .loader__tileP:nth-child(8) {
    transition-delay: 0.1s;
}

.loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.2s;
}

.loader--active .loader__tileP:nth-child(9) {
    transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.3s;
}

.loader--active .loader__tileP:nth-child(10) {
    transition-delay: 0.3s;
}

.loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.4s;
}

.loader--active .loader__tileP:nth-child(11) {
    transition-delay: 0.4s;
}