@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/valorant');
* {
    margin: 0;
    padding: 0;
}

.role {
    background: #18212A;
    height: 100%;
    position: absolute;
    width: 100%;
}

.raze_vd {
    position: absolute;
    left: 44.5%;
    top: 10.4%;
}

.text-1 h3 {
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}

.text-2 h2 {
    position: absolute;
    left: 10%;
    top: 27%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}

.role-logo img {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 30%;
    top: 30%;
}

.text h3 {
    position: absolute;
    left: 10%;
    top: 48%;
    font-family: sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 26px;
    color: #FFFFFF;
}

.role-description h4 {
    position: absolute;
    left: 10%;
    top: 59%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.role-name h2 {
    position: absolute;
    width: 530px;
    height: 100px;
    left: 950px;
    top: 53%;
    font-family: VALORANT;
    font-weight: normal;
    font-size: 140px;
    color: #ECE8E1;
    opacity: 0.6;
    transform: rotate(90deg);
}

.role-name h3 {
    position: absolute;
    width: 490px;
    height: 160px;
    left: 930px;
    top: 43%;
    font-family: VALORANT;
    font-weight: normal;
    font-size: 145px;
    color: #ECE8E1;
    opacity: 0.09;
    transform: rotate(90deg);
}

.text h2 {
    position: absolute;
    width: 286px;
    height: 53px;
    left: calc(50% - 286px/2 - 397px);
    top: calc(50% - 53px/2 - 908.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 48px;
    line-height: 109.84%;
    top: 115%;
    color: #18212A;
}

.text2 p {
    position: absolute;
    width: 812px;
    height: 234px;
    left: 364px;
    top: 166%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #18212A;
}

.text3 p {
    position: absolute;
    width: 479px;
    height: 52px;
    left: 474.94px;
    top: 135%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #18212A;
}

.special-abilities h2 {
    position: absolute;
    width: 480px;
    height: 73px;
    left: calc(50% - 480px/2 - 350px);
    top: calc(50% - 73px/2 - 41.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    top: 215%;
    color: #18212A;
}

.special-abilities .rectangle {
    position: absolute;
    width: 930px;
    height: 500px;
    left: calc(50% - 930px/2);
    top: calc(50% - 500px/2 + 471px);
    top: 238%;
    background: #18212A;
}

.rectangle h2 {
    position: absolute;
    left: calc(50% - 337px/2 + 0.5px);
    top: 250px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}

.special-abilities .rectangle-1 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 - 218.5px);
    top: 324%;
    opacity: 0.8;
}

.special-abilities .rectangle-2 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 - 73.5px);
    top: calc(50% - 75px/2 + 994.5px);
    top: 324%;
    opacity: 1.26;
}

.special-abilities .rectangle-3 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 + 71.5px);
    top: calc(50% - 75px/2 + 994.5px);
    top: 324%;
    opacity: 1.2;
}

.special-abilities .rectangle-4 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 + 216.5px);
    top: calc(50% - 75px/2 + 994.5px);
    top: 324%;
    opacity: 1.2;
}

.special-abilities h3 {
    position: absolute;
    width: 282px;
    height: 47px;
    left: calc(50% - 282px/2 - 215px);
    top: calc(50% - 47px/2 + 1192.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    top: 350%;
    color: #18212A;
}

.special-abilities p {
    position: absolute;
    width: 523px;
    height: 99px;
    left: calc(50% - 523px/2 - 44.5px);
    top: calc(50% - 99px/2 + 1310.5px);
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    top: 366%;
    color: #101822;
}

footer {
    position: absolute;
    top: 400%;
    left: 0;
    right: 0;
    background: #18212A;
    height: 80vh;
    width: 98.5vw;
    font-family: "Open Sans";
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo {
    position: absolute;
    top: 8%;
    left: 47%;
}

.logo2 {
    position: absolute;
    top: 35%;
    left: 44%;
}

.logo-T {
    position: absolute;
    left: 8%;
    top: 40%;
}

.cop h3 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 13%;
    top: 40%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #ECE8E1;
}

.cop-2 h2 {
    position: absolute;
    left: 15.4%;
    top: 45%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #ECE8E1;
}

.cop-3 h2 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 13.7%;
    top: 50%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #ECE8E1;
}

.cop-4 h2 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 15.4%;
    top: 55.5%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #ECE8E1;
}

.cop-5 h2 {
    position: absolute;
    left: 15.5%;
    top: 61.4%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #ECE8E1;
}

.RAA {
    margin-left: 88%;
    display: grid;
    padding: 110px 0px;
}

.socials li {
    list-style: none;
    padding: 10px 0;
}

.socials a {
    text-decoration: none;
    color: #FF4654;
}

.socials a i {
    font-size: 1.8rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: rgb(128, 3, 3);
}

.footer-bottom {
    font-size: 24px;
}

.footer-bottom p {
    position: absolute;
    top: 56%;
    left: 40%;
}

.footer-bottom p:hover {
    color: #ffa3ab;
}

.p-n h3 {
    position: absolute;
    left: 33%;
    top: 93%;
    font-family: sans-serif;
    font-size: 16px;
    color: #ECE8E1;
}

.p-n2 h3 {
    position: absolute;
    left: 47%;
    top: 93%;
    font-family: sans-serif;
    font-size: 18px;
    color: #ECE8E1;
}

.p-n3 h3 {
    position: absolute;
    left: 62%;
    top: 93%;
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #ECE8E1;
}
.btn{
    color: black;
    font-size: 60px;
    border: none;
    display: block;
    top: 50%;
    left: 20%;
}
.bg-music{
    position: absolute;
    top: 135%;
    left: 27%;
    right: 0;
    margin: 0 auto;
}
.fa-pause-circle{
    display: none;
}


/* ############ MEDIA FOR BIG SCREENS */

@media only screen and (min-width: 1400px) {
    .role-name h2 {
        position: absolute;
        width: 530px;
        height: 140px;
        left: 1200px;
        top: 36%;
        font-family: VALORANT;
        font-weight: normal;
        font-size: 170px;
        color: #ECE8E1;
        opacity: 0.6;
        transform: rotate(90deg);
    }
    .role-name h3 {
        position: absolute;
        width: 530px;
        height: 140px;
        left: 1200px;
        top: 34%;
        font-family: VALORANT;
        font-weight: normal;
        font-size: 170px;
        color: #ECE8E1;
        opacity: 0.09;
        transform: rotate(90deg);
    }
    .raze_vd {
        position: absolute;
        left: 43.5%;
        top: 6.4%;
    }
    video {
        height: 70%;
        width: 70%;
    }
}

/* ##### TRANSITION  #### */

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
}

.loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loader .loader__icon svg {
    transform-origin: 0 0;
}

.loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #0f1923;
    transition: width 0.7s ease;
    z-index: 1;
}

.loader .loader__tileP {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #ff4655;
    transition: width 0.9s ease;
    z-index: -1;
}

.loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.1s;
}

.loader .loader__tileP:nth-child(6) {
    top: calc(-1 * 20%);
    transition-delay: -0.1s;
}

.loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tileP:nth-child(7) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.1s;
}

.loader .loader__tileP:nth-child(8) {
    top: calc(1 * 20%);
    transition-delay: 0.1s;
}

.loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tileP:nth-child(9) {
    top: calc(2 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.3s;
}

.loader .loader__tileP:nth-child(10) {
    top: calc(3 * 20%);
    transition-delay: 0.3s;
}

.loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.4s;
}

.loader .loader__tileP:nth-child(11) {
    top: calc(4 * 20%);
    transition-delay: 0.4s;
}

.loader--active {
    width: 100%;
    transition-delay: 0s;
}

.loader--active .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
}

.loader--active .loader__tile {
    width: 100%;
}

.loader--active .loader__tileP {
    width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.1s;
}

.loader--active .loader__tileP:nth-child(6) {
    transition-delay: -0.1s;
}

.loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
}

.loader--active .loader__tileP:nth-child(7) {
    transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.1s;
}

.loader--active .loader__tileP:nth-child(8) {
    transition-delay: 0.1s;
}

.loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.2s;
}

.loader--active .loader__tileP:nth-child(9) {
    transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.3s;
}

.loader--active .loader__tileP:nth-child(10) {
    transition-delay: 0.3s;
}

.loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.4s;
}

.loader--active .loader__tileP:nth-child(11) {
    transition-delay: 0.4s;
}
