@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/valorant');
:root {
    /* ##### COLORS #### */
    --base-color: #0f1923;
    --secondbase-color: #101822;
    --white-color: #ece8e1;
    --main-color: #ff4655;
    --secondmain-color: #FF8189;
    /* ##### Font family #### */
    --font: 'Source Sans Pro', sans-serif;
    --valorant: 'valorant', sans-serif;
    /* ##### Font weight #### */
    --font-regular: 500;
    --font-semibold: 600;
    --font-bold: 800;
    --font-light: 50
    /* Text Sizing 
    ##          Main Valorant title: 7rem
    ##          Normal text size : 1rem
    ##          Semi Main text : 1.2rem
    ##          Sections Titles : 
    ##              - main : 2.5rem
    ##              - Shadow 7.5rem
    ##          Semi Title : 1.5rem
    ##          Background text : 1rem
    ##           
    */
}


/* ####### settings menu ####### */

#goToStartButton {
    transition: 0.5s ease-out;
    position: fixed;
    bottom: 8%;
    z-index: 999;
    background-color: var(--secondmain-color);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 20px #101822;
    transition: 0.3s ease-in-out;
    border: 2px solid var(--main-color);
}

#goToStartButton:hover {
    box-shadow: 0 0 10px var(--secondbase-color), 0 0 20px var(--main-color), 0 0 20px var(--secondmain-color);
    transform: scale(1.1);
    border: 2px solid var(--white-color);
    background-color: var(--main-color);
}

.goToStartBtn {
    padding: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: var(--base-color);
}

.goToStartBtn:hover {
    color: var(--white-color);
}

.main-setings-menu {
    z-index: 999;
    position: fixed;
    right: 3%;
    bottom: 8%;
    list-style: none;
}

.setings-menu {
    height: 0;
    opacity: 0;
    transition: .3s ease-out;
    background-color: var(--main-color);
    border-radius: 25px;
    border: 2px solid var(--white-color);
    box-shadow: 0 0 10px var(--secondbase-color), 0 0 20px var(--main-color), 0 0 20px var(--secondmain-color);
}

.setings-menu li {
    transition: .3s ease-out;
    text-align: center;
    color: var(--base-color);
    list-style: none;
    margin: 10px;
    padding: 5px 3px;
}

.setings-menu li a {
    color: var(--base-color);
    text-decoration: none;
}

.setings-menu li a:hover {
    color: var(--white-color);
}

.setings-menu li:hover {
    transform: scale(1.2);
}

.role {
    background: #18212A;
    height: 780px;
    position: relative;
    width: 1410px;
    left: -70px;
    top: -10px;
}

.key-o img {
    position: absolute;
    left: 46.46%;
    right: 12.78%;
    top: 1.12%;
    bottom: 78.43%;
    background: url('o.png');
}

.text-1 h3 {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 191px;
    top: 224px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 109.84%;
    /* identical to box height, or 22px */
    color: #FFFFFF;
}

.text-2 h2 {
    position: absolute;
    width: 286px;
    height: 56px;
    left: 184px;
    top: 262px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 109.84%;
    /* or 70px */
    color: #FFFFFF;
}

.role-logo img {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 488px;
    top: 325px;
    background: url('image5.png');
}

.text h3 {
    position: absolute;
    width: 157px;
    height: 22px;
    left: 191px;
    top: 420px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 109.84%;
    /* identical to box height, or 22px */
    color: #FFFFFF;
}

.role-description h4 {
    position: absolute;
    width: 494px;
    height: 130px;
    left: 184px;
    top: 440px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 109.84%;
    /* or 26px */
    color: #FFFFFF;
}

.role-name h2 {
    position: absolute;
    width: 600px;
    height: 200px;
    left: 970px;
    top: 90px;
    font-family: VALORANT;
    font-style: normal;
    font-weight: normal;
    font-size: 170px;
    line-height: 109.84%;
    /* identical to box height, or 220px */
    color: #ECE8E1;
    opacity: 0.6;
    transform: rotate(90deg);
}

.role-name h3 {
    position: absolute;
    width: 600px;
    height: 200px;
    left: 960px;
    top: 80px;
    font-family: VALORANT;
    font-style: normal;
    font-weight: normal;
    font-size: 170px;
    line-height: 109.84%;
    /* identical to box height, or 220px */
    color: #ECE8E1;
    opacity: 0.09;
    transform: rotate(90deg);
}

.personality {
    background: #E5E5E5;
    position: relative;
}

.text h2 {
    position: absolute;
    width: 286px;
    height: 53px;
    left: calc(50% - 286px/2 - 397px);
    top: calc(50% - 53px/2 - 908.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 109.84%;
    /* identical to box height, or 53px */
    top: 150px;
    color: #18212A;
}

.text2 p {
    position: absolute;
    width: 812px;
    height: 234px;
    left: 364px;
    top: 750px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 109.84%;
    /* or 26px */
    color: #18212A;
}

.text3 p {
    position: absolute;
    width: 479px;
    height: 52px;
    left: 474.94px;
    top: 430px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 109.84%;
    /* or 26px */
    color: #18212A;
}

.special-abilities h2 {
    position: absolute;
    width: 480px;
    height: 73px;
    left: calc(50% - 380px/2 - 350px);
    top: calc(50% - 53px/2 - 41.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 109.84%;
    /* identical to box height, or 53px */
    top: 2200px;
    color: #18212A;
}

.special-abilities h3 {
    position: absolute;
    width: 282px;
    height: 47px;
    left: calc(50% - 282px/2 - 215px);
    top: calc(50% - 47px/2 + 1192.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 109.84%;
    /* or 40px */
    top: 3400px;
    color: #18212A;
}

.special-abilities p {
    position: absolute;
    width: 523px;
    height: 99px;
    left: calc(50% - 523px/2 - 44.5px);
    top: calc(50% - 99px/2 + 1310.5px);
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 109.84%;
    /* or 33px */
    top: 3490px;
    color: #101822;
}

.special-abilities .rectangle {
    position: absolute;
    width: 1080px;
    height: 720px;
    left: calc(50% - 1080px/2);
    top: calc(50% - 720px/2 + 471px);
    top: 2400px;
    background: #18212A;
}

.rectangle h2 {
    position: absolute;
    width: 337px;
    height: 26px;
    left: calc(50% - 337px/2 + 0.5px);
    top: 300px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 109.84%;
    /* or 26px */
    color: #FFFFFF;
}

.special-abilities .rectangle-1 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 - 218.5px);
    top: 3200px;
    opacity: 0.4;
    background: url('image 6.png');
}

.special-abilities .rectangle-2 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 - 73.5px);
    top: calc(50% - 75px/2 + 994.5px);
    top: 3200px;
    opacity: 1.2;
    background: url('image 7.png');
}

.special-abilities .rectangle-3 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 + 71.5px);
    top: calc(50% - 75px/2 + 994.5px);
    top: 3200px;
    opacity: 1.2;
    background: url('image 8.png');
}

.special-abilities .rectangle-4 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: calc(50% - 75px/2 + 216.5px);
    top: calc(50% - 75px/2 + 994.5px);
    top: 3200px;
    opacity: 1.2;
    background: url('image 9.png');
}

.special-abilities.rectangle-4:hover {
    opacity: 100;
}

.footer {
    background-color: #18212A;
    position: relative;
    height: 580px;
    top: 2900px;
    width: 1410px;
    left: -70px;
}

.text-f h2 {
    position: absolute;
    width: 224px;
    height: 90px;
    left: 916px;
    top: 270px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #ECE8E1;
}

.logo img {
    position: absolute;
    left: 12.5%;
    right: 57.78%;
    top: 29.55%;
    bottom: 7.43%;
    background: url('val_logo_R.png');
}

.riot-logo img {
    position: absolute;
    width: 228px;
    height: 73px;
    left: 136px;
    top: 470px;
    background: url('image 10.png');
}

.teen-logo img {
    position: absolute;
    width: 65px;
    height: 97px;
    left: 486px;
    top: 310px;
    background: url('image 10.png');
}

.cop h3 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 560px;
    top: 290px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ECE8E1;
}

.cop-2 h2 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 560px;
    top: 310px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ECE8E1;
}

.cop-3 h2 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 560px;
    top: 330px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ECE8E1;
}

.cop-4 h2 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 560px;
    top: 350px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ECE8E1;
}

.cop-5 h2 {
    position: absolute;
    width: 116px;
    height: 90px;
    left: 560px;
    top: 370px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ECE8E1;
}

.p-n h3 {
    position: absolute;
    width: 101px;
    height: 23px;
    left: calc(50% - 101px/2 - 182.5px);
    top: 530px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    /* identical to box height */
    color: #ECE8E1;
}

.p-n2 h3 {
    position: absolute;
    width: 110px;
    height: 23px;
    left: calc(50% - 110px/2 - 22px);
    top: 530px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    /* identical to box height */
    color: #ECE8E1;
}

.p-n3 h3 {
    position: absolute;
    width: 124px;
    height: 23px;
    left: calc(50% - 124px/2 + 172px);
    top: 530px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    /* identical to box height */
    color: #ECE8E1;
}

.btn {
    color: black;
    font-size: 60px;
    border: none;
    display: block;
    top: 50%;
    left: 20%;
}

.bg-music {
    position: absolute;
    top: 196%;
    left: 26%;
    right: 0;
    margin: 0 auto;
}

.btn .fa-pause-circle {
    display: none;
}


/* ##### TRANSITION  #### */

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
}

.loader .loader__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loader .loader__icon svg {
    transform-origin: 0 0;
}

.loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #0f1923;
    transition: width 0.7s ease;
    z-index: 1;
}

.loader .loader__tileP {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #ff4655;
    transition: width 0.9s ease;
    z-index: -1;
}

.loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.1s;
}

.loader .loader__tileP:nth-child(6) {
    top: calc(-1 * 20%);
    transition-delay: -0.1s;
}

.loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tileP:nth-child(7) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.1s;
}

.loader .loader__tileP:nth-child(8) {
    top: calc(1 * 20%);
    transition-delay: 0.1s;
}

.loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tileP:nth-child(9) {
    top: calc(2 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.3s;
}

.loader .loader__tileP:nth-child(10) {
    top: calc(3 * 20%);
    transition-delay: 0.3s;
}

.loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.4s;
}

.loader .loader__tileP:nth-child(11) {
    top: calc(4 * 20%);
    transition-delay: 0.4s;
}

.loader--active {
    width: 100%;
    transition-delay: 0s;
}

.loader--active .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
}

.loader--active .loader__tile {
    width: 100%;
}

.loader--active .loader__tileP {
    width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.1s;
}

.loader--active .loader__tileP:nth-child(6) {
    transition-delay: -0.1s;
}

.loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
}

.loader--active .loader__tileP:nth-child(7) {
    transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.1s;
}

.loader--active .loader__tileP:nth-child(8) {
    transition-delay: 0.1s;
}

.loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.2s;
}

.loader--active .loader__tileP:nth-child(9) {
    transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.3s;
}

.loader--active .loader__tileP:nth-child(10) {
    transition-delay: 0.3s;
}

.loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.4s;
}

.loader--active .loader__tileP:nth-child(11) {
    transition-delay: 0.4s;
}