@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('http://fonts.cdnfonts.com/css/valorant');
:root {
    /* ##### COLORS #### */
    --base-color: #0f1923;
    --secondbase-color: #101822;
    --white-color: #ece8e1;
    --main-color: #ff4655;
    --secondmain-color: #FF8189;
    /* ##### Font family #### */
    --font: 'Source Sans Pro', sans-serif;
    --valorant: 'valorant', sans-serif;
    /* ##### Font weight #### */
    --font-regular: 500;
    --font-semibold: 600;
    --font-bold: 800;
    --font-light: 50;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background-color: var(--base-color);
    color: var(--white-color);
}


/* ##### Background picture #### */

.bg {
    background: url('./assets/Ascent.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 7%;
    z-index: -1;
    mix-blend-mode: color-dodge;
    height: 1360px;
}


/* ##### Background Lines & Texts #### */

.left-line {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    left: 10%;
    top: 200px;
    height: 1100px;
}

.right-line {
    border: 1px solid var(--white-color);
    transform: rotate(0deg);
    position: absolute;
    right: 10%;
    top: -1px;
    height: 950px;
}

.right-line-text {
    transform: rotate(-90deg);
    top: 1000px;
    position: absolute;
    font-weight: var(--font-regular);
    letter-spacing: 0.25em;
    line-height: 30px;
    left: -60px;
}


/* ##### Main Title + horizontal line #### */

.main-title {
    position: absolute;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    left: 15%;
    top: 100px;
    color: var(--white-color);
    z-index: 3;
}

.shadow-title h1 {
    position: absolute;
    opacity: 7%;
    color: var(--white-color);
    left: 1%;
    top: 60px;
    font-size: 120px;
    z-index: 2;
}

.shadow-title {
    position: relative;
    border-bottom: 2px solid var(--white-color);
    padding-top: 200px;
    left: 10%;
    width: 30%;
    padding-right: 10%;
}


/* ##### Astra Animation #### */

.animation1 {
    position: absolute;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 49%;
}


/* ##### Section text #### */

.text {
    position: absolute;
    left: 12%;
    padding-top: 50px;
    right: 50%;
}

.text h2 {
    font-size: 30px;
    font-weight: var(--font-semibold);
    padding-bottom: 30px;
}

.text h3 {
    font-weight: var(--font-regular);
    padding-bottom: 300px;
}


/* ##### Button after text for AGENTS #### */

.container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15%;
    height: 100vh;
}

button:focus {
    outline: none;
}

.primary-button {
    cursor: pointer;
    font-family: var(--valorant);
    font-size: 25px;
    font-weight: bold;
    border: 1px solid var(--white-color);
    padding: 1.3rem 4rem;
    background: url('https://svgshare.com/i/Kyn.svg');
    background-size: 130%;
    background-position: 500%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: border, background-position, color;
    background-color: var(--white-color);
    color: var(--base-color);
}

.primary-button:hover {
    border: 1px solid var(--main-color);
    background-position: 50%;
    color: var(--white-color);
}

.primary-button:before {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0.2rem;
    height: 0.2rem;
    left: -1px;
    top: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
    background-color: var(--main-color);
}

.primary-button:after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0.4rem;
    height: 0.4rem;
    right: -1px;
    bottom: -1px;
}

.button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders:before {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    top: -0.8rem;
    border: 1px solid var(--white-color);
    border-bottom: 0px;
    opacity: 0.3;
}

.button-borders:after {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    bottom: -0.8rem;
    border: 1px solid var(--white-color);
    border-top: 0px;
    opacity: 0.3;
    z-index: 0;
}

.button-borders:active,
.button-borders:focus {
    outline: none;
}

.button-borders:active::before {
    top: -0.4rem;
    transition: 0.05s ease-in-out;
}

.button-borders:active::after {
    bottom: -0.4rem;
    transition: 0.05s ease-in-out;
}


/* ##### Maps background #### */

.bg-container {
    position: absolute;
    padding: 0;
    border: 0;
    outline: 0;
    width: 100%;
    vertical-align: baseline;
    font-family: var(--title-font);
    margin-top: -12px;
    background-color: var(--white-color);
    z-index: 1;
    align-items: center;
    height: 730px;
}

.small-rectangle {
    position: relative;
    width: 0;
    height: 0;
    width: 100%;
    top: 69px;
    border-top: 80px solid transparent;
    border-left: 160px solid var(--white-color);
    border-bottom: 80px solid transparent;
    z-index: -1;
}

.bgpic {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: auto;
    height: 100%;
    bottom: 0;
    border-style: none;
    right: 7.3vw;
    margin-left: 440px;
    top: -150px;
}

.container-shape {
    position: relative;
    /* need to make it responsive here! */
}


/* ##### Maps Title #### */

.maps-title {
    position: absolute;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    left: 15%;
    top: 1250px;
    color: var(--base-color);
    z-index: 3;
}

.maps-title-shadow {
    position: relative;
    top: 150px;
    left: 10%;
    width: 30%;
    padding-right: 10%;
}

.maps-title-shadow h1 {
    position: absolute;
    opacity: 7%;
    color: var(--base-color);
    left: 1%;
    top: 60px;
    font-size: 120px;
    z-index: 2;
}


/* ##### Maps Text #### */

.text-maps {
    position: absolute;
    left: 12%;
    padding-top: 370px;
    right: 50%;
    z-index: 2;
    color: var(--base-color);
}

.text-maps h2 {
    font-size: 30px;
    font-weight: var(--font-semibold);
    padding-bottom: 30px;
}

.text-maps h3 {
    font-weight: var(--font-regular);
    padding-bottom: 10px;
    text-shadow: 0 0 2px var(--secondbase-color);
}


/* ##### Maps Button #### */

.container-maps {
    position: absolute;
    display: inline-flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 750px;
    z-index: 6;
}

button:focus {
    outline: none;
}

.primary-button-maps {
    cursor: pointer;
    font-family: var(--valorant);
    font-size: 25px;
    font-weight: bold;
    border: 1px solid var(--base-color);
    padding: 1.3rem 4rem;
    background: url('https://svgshare.com/i/Kyn.svg');
    background-size: 130%;
    background-position: 500%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transition-property: border, background-position, color;
    background-color: var(--base-color);
    color: var(--white-color);
}


/* On hover, the background-position for the SVG is changed to come into view.*/

.primary-button-maps:hover {
    border: 1px solid var(--base-color);
    background-position: 50%;
    color: var(--base-color);
}


/* Gap at the top left corner of the button */

.primary-button-maps:before {
    content: "";
    position: absolute;
    background-color: var(--base-color);
    width: 0.2rem;
    height: 0.2rem;
    left: -1px;
    top: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button-maps:hover:before {
    background-color: var(--main-color);
}


/* Gap and square at the bottom right */

.primary-button-maps:after {
    content: "";
    position: absolute;
    background-color: var(--base-color);
    width: 0.4rem;
    height: 0.4rem;
    right: -1px;
    bottom: -1px;
}

.button-borders-maps {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders-maps:before {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    top: -0.8rem;
    border: 1px solid var(--secondbase-color);
    border-bottom: 0px;
    opacity: 0.3;
}

.button-borders-maps:after {
    position: absolute;
    content: "";
    width: calc(100% + .9rem);
    height: 35%;
    left: -0.5rem;
    bottom: -0.8rem;
    border: 1px solid var(--secondbase-color);
    border-top: 0px;
    opacity: 0.3;
    z-index: 0;
}

.button-borders-maps:active,
.button-borders-maps:focus {
    outline: none;
}

.button-borders-maps:active::before {
    top: -0.4rem;
    transition: 0.05s ease-in-out;
}

.button-borders-maps:active::after {
    bottom: -0.4rem;
    transition: 0.05s ease-in-out;
}